@tailwind base;
@tailwind components;
@tailwind utilities;

.h-screen {height: 75vh;}

.show-datetime {
    font-size: small;
    line-height: 2em;
    background: rgba(220, 220, 220, 0.5);
    transition: 0.3s all;
    opacity: 1;
    pointer-events: auto;
    z-index: 1;
}

.hide-datetime {
    opacity: 0;
    pointer-events: none;
    z-index: -1;
}
.hide-button {
    margin-left: 10px;
    position: absolute;
    z-index: 99;
}