@tailwind base;
@tailwind components;
@tailwind utilities;

.show-datetime {
    font-size: medium;
    line-height: 2em;
    background: rgba(220, 220, 220, 0.6);
    transition: 0.3s all;
    opacity: 1;
    pointer-events: auto;
    z-index: 999;
    bottom: 5vh;
}

.hide-datetime {
    opacity: 0;
    pointer-events: none;
    z-index: -1;
}

@font-face {
    font-family: 'Raleway', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
}
.mapboxgl-popup-content {
    font-family: 'Raleway', sans-serif;
    font-size: medium;
}
.left-pane-overlay {
    z-index: 999;
    position: relative;
}
.mapboxgl-ctrl-top-right {
    z-index: 99 !important;
}

th,
td {
    border: 1px solid grey;
    border-radius: 10px;
}